/*Declare basic classes here*/

$main-color : #101731;
$font-color : #00eeba;
$text-highlight : #fae61e;
$letterplay-font : 'Baron Neue';
$input-underline : #fe3d50;
$secondary-color : #ee8239;
$correct-answer : green;
$white : #fff;

body{
    font-size: 4.6rem;
    font-family: $letterplay-font;
    color: $font-color;
    background: $main-color;
}

#challengeBlock{
    display: flex;
    justify-content: center;
    img{
        margin-top: 70px;
        width: 2%;
        cursor: pointer;
    }
}

.refresh-icon{
    fill: $font-color;
}
main{
    display: table;
    width: 100%;
    height: 100vh;
    #wordResponse{
        position: absolute;
        background: transparent;
        border: none;
        border-bottom : 1px solid $input-underline;
        margin: 5vh 25vw;
        width: 50%;
        height: 15%;
        &:focus{
            outline: transparent;
        }
        &::placeholder{
            color:$white;
            font-style: italic;
            font-weight:100;
            opacity: .6;
        }
    }
}

input{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

#wordChallenge{
    text-align: center;
    margin-top: 30vh;
    span{
        margin: 0 10px;
        transition : .3s ease;
        &:hover{
            cursor: pointer;
            color: $secondary-color;
        }
    }
}

.stats {
    display: flex;
    margin-top: -25vh;
    color : $secondary-color;
    font-size: .3em;
    justify-content: space-around;
}


.text-highlight{
    color : $text-highlight;
    background : $input-underline;
    padding: 25px;
}
#solutions{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.solution,
.wrong
{
    display: inline-flex;
    justify-content: center;
    width: 5%;
    margin: 0 6px;
    color: $white;
    padding:5px;
    font-size: small;
    border-radius: 30px;
}

.solution{
    background : $font-color;
    color: $main-color;
}

.wrong{
    background : $input-underline;
    color: $white;
}

#deadline-met{
    font-size: 1.3rem;
    text-align: center;
    margin: 20px auto;
    color: $input-underline;
    animation: flash-deadline 1s infinite;
}


@keyframes flash-deadline{
    0% {
        opacity: .7;
    }

    50%{
        opacity: 1;
    }

    100% {
        opacity: .7;
    }
}
