/*Declare basic classes here*/

$main-color : #101731;
$font-color : #00eeba;
$text-highlight : #fae61e;
$letterplay-font : 'Baron Neue'; // initial font, might change this.
$secondary-color : #ee8239;
$correct-answer : green;
$white : #fff;
$complementary-color-1: #2283f6;
$complementary-color-2: #fae61e;
$complementary-color-3: #fe3d50;
$main-font :'Space Mono', monospace;


body{
    font-size: 4.6rem;
    height: 100vh;
    width: 100vw;
    font-family: $main-font;
    color: $font-color;
    background: $main-color;
}

#challengeBlock{
    display: flex;
    justify-content: center;
    img{
        margin-top: 70px;
        width: 2%;
        cursor: pointer;
    }
}

.refresh-icon{
    fill: $font-color;
}
main{
    display: table;
    width: 100%;
    height: 100vh;
    #wordResponse{
        position: absolute;
        background: transparent;
        border: none;
        border-bottom : 1px solid $white;
        margin: 5vh 25vw;
        width: 50%;
        height: 15%;
        animation: flash 2s infinite;
        &:focus{
            outline: transparent;
        }
        &::placeholder{
            color:$white;
            font-style: italic;
            font-weight:100;
            opacity: .4;
        }
    }
}

input{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

#wordChallenge{
    text-align: center;
    margin-top: 30vh;
    span{
        margin: 0 10px;
        transition : .3s ease;
        &:hover{
            cursor: pointer;
            color: $secondary-color;
        }
    }
}

#stats {
    display: flex;
    justify-content: center;
    margin-top: -28vh;
    color : $secondary-color;
    font-size: .3em;
    .score-stats,
    .target-stats,
    .timer-stats{
        // display: inline-flex;
        width: 33.33%;
        height: 200px;
        color: $white;
    }
    .score-stats{
        background: $complementary-color-1;
        display: flex;
        h2{
            color: $white;;
            display:block;
            padding: 20px;
        }
        #score{
            font-size: 7.5em;
            display: block;
        }
    }
    .target-stats{
        background: $complementary-color-2;
        display: flex;
        justify-content: center;
        h2{
            color: $main-color;
            display:block;
            padding: 20px;
        }
        #target{
            font-size: 7.5em;
            display: block;
        }



    }

    .timer-stats {
        background: $complementary-color-3;
        display: flex;
        justify-content: center;
        h2{
            color: $white;;
            display:block;
            padding: 20px;
        }
        .seconds{
            font-size: 7.5em;
            display: block;
        }
    }
}

#top-stats{
    display: flex;
    position: absolute;
    width: 100%;
}
.top-stats{
    display: flex;
    position: relative;
    justify-content: center;
    width:20%;
    height: 100px;
    background: $complementary-color-2; 
    margin: 0 1%;
    transform: scale(0);
    transition: .4s ease;
    h2{
        position: relative;
        margin: 15% auto;
        flex-basis: column;
        color: $main-color;
        font-size: 20px;
    }
    .player-score{
        color: $complementary-color-3;
    }
}

.show-top-stats{
    transform: scale(1);
}
.text-highlight{
    color : $text-highlight;
    background : $complementary-color-3;
    padding: 25px;
}
#solutions{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.solution,
.wrong
{
    display: inline-flex;
    justify-content: center;
    width: 5%;
    margin: 0 6px;
    color: $white;
    padding:5px;
    font-size: small;
    border-radius: 30px;
}

.solution{
    background : $font-color;
    color: $main-color;
}

.wrong{
    background : $complementary-color-3;
    color: $white;
}

#deadline-met{
    font-size: 1.3rem;
    text-align: center;
    margin: 20px auto;
    color: $complementary-color-3;
    animation: flash 1s infinite;
}


@keyframes flash{
    0% {
        opacity: .7;
    }

    50%{
        opacity: 1;
    }

    100% {
        opacity: .7;
    }
}
