/*Declare basic classes here*/
body {
  font-size: 4.6rem;
  height: 100vh;
  width: 100vw;
  font-family: "Space Mono", monospace;
  color: #00eeba;
  background: #101731; }

#challengeBlock {
  display: flex;
  justify-content: center; }
  #challengeBlock img {
    margin-top: 70px;
    width: 2%;
    cursor: pointer; }

.refresh-icon {
  fill: #00eeba; }

main {
  display: table;
  width: 100%;
  height: 100vh; }
  main #wordResponse {
    position: absolute;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin: 5vh 25vw;
    width: 50%;
    height: 15%;
    animation: flash 2s infinite; }
    main #wordResponse:focus {
      outline: transparent; }
    main #wordResponse::placeholder {
      color: #fff;
      font-style: italic;
      font-weight: 100;
      opacity: .4; }

input {
  color: #fff;
  font-size: 2rem;
  text-align: center; }

#wordChallenge {
  text-align: center;
  margin-top: 30vh; }
  #wordChallenge span {
    margin: 0 10px;
    transition: .3s ease; }
    #wordChallenge span:hover {
      cursor: pointer;
      color: #ee8239; }

#stats {
  display: flex;
  justify-content: center;
  margin-top: -28vh;
  color: #ee8239;
  font-size: .3em; }
  #stats .score-stats,
  #stats .target-stats,
  #stats .timer-stats {
    width: 33.33%;
    height: 200px;
    color: #fff; }
  #stats .score-stats {
    background: #2283f6;
    display: flex; }
    #stats .score-stats h2 {
      color: #fff;
      display: block;
      padding: 20px; }
    #stats .score-stats #score {
      font-size: 7.5em;
      display: block; }
  #stats .target-stats {
    background: #fae61e;
    display: flex;
    justify-content: center; }
    #stats .target-stats h2 {
      color: #101731;
      display: block;
      padding: 20px; }
    #stats .target-stats #target {
      font-size: 7.5em;
      display: block; }
  #stats .timer-stats {
    background: #fe3d50;
    display: flex;
    justify-content: center; }
    #stats .timer-stats h2 {
      color: #fff;
      display: block;
      padding: 20px; }
    #stats .timer-stats .seconds {
      font-size: 7.5em;
      display: block; }

#top-stats {
  display: flex;
  position: absolute;
  width: 100%; }

.top-stats {
  display: flex;
  position: relative;
  justify-content: center;
  width: 20%;
  height: 100px;
  background: #fae61e;
  margin: 0 1%;
  transform: scale(0);
  transition: .4s ease; }
  .top-stats h2 {
    position: relative;
    margin: 15% auto;
    flex-basis: column;
    color: #101731;
    font-size: 20px; }
  .top-stats .player-score {
    color: #fe3d50; }

.show-top-stats {
  transform: scale(1); }

.text-highlight {
  color: #fae61e;
  background: #fe3d50;
  padding: 25px; }

#solutions {
  margin-top: 45px;
  display: flex;
  justify-content: center; }

.solution,
.wrong {
  display: inline-flex;
  justify-content: center;
  width: 5%;
  margin: 0 6px;
  color: #fff;
  padding: 5px;
  font-size: small;
  border-radius: 30px; }

.solution {
  background: #00eeba;
  color: #101731; }

.wrong {
  background: #fe3d50;
  color: #fff; }

#deadline-met {
  font-size: 1.3rem;
  text-align: center;
  margin: 20px auto;
  color: #fe3d50;
  animation: flash 1s infinite; }

@keyframes flash {
  0% {
    opacity: .7; }
  50% {
    opacity: 1; }
  100% {
    opacity: .7; } }

/*# sourceMappingURL=main.css.map */
